# @name .gitignore
# @purpose Ultimate gitignore
# @Author S.Deckers
# @Data 02-10-2024
# --------------------------------

# --- Folders
bin/
obj/
.vs/

# --- Unwanted files
*.csproj.user
*.slnLaunch.user

# --- Android
.idea
.gradle